<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Conte.it - AngularJS Sample APP</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container" ng-app="myApplication">

      <div class="page-header">
        <h1>Contact Manager</h1>
      </div>

      <div ng-controller="MainController as main">
        <div class="row">
          <div class="col-md-8" 
            ng-controller="ContactController as contact">
            <h3>New user: </h3>
            <form name="contactForm" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Full Name:</label>
                    <input type="text" class="form-control" 
                      ng-model="contact.item.fullName">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Year of birth:</label>
                    <input type="text" class="form-control" ng-model="contact.item.yearOfBirth">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input 
                      type="submit" 
                      class="button success" 
                      ng-click="main.addNew(contact.item); contact.resetForm();" 
                      value="Salva">
                      <input 
                      type="submit" 
                      class="button warning" 
                      ng-click="contact.resetForm();" 
                      value="Nuovo">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <contact 
            list="main.contactList" 
            delete="main.delete(element)"
            edit="main.edit(element)"></contact>
        </div>
      </div>
    </div>

    <!-- vendors:js -->
    <script src="/bower_components/angular/angular.js?v=1522317137781"></script>
    <script src="/bower_components/angular-route/angular-route.js?v=1522317137781"></script>
    <!-- endinject -->

    <!-- app:js -->
    <script src="/app/index.js?v=1522317137880"></script>
    <script src="/app/services.js?v=1522317137880"></script>
    <script src="/app/provider.js?v=1522317137880"></script>
    <script src="/app/directive.js?v=1522317137880"></script>
    <script src="/app/controller.js?v=1522317137880"></script>
    <!-- endinject -->
  </body>
</html>