<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FullName</th>
      <th scope="col">Date of birthday</th>
			<th scope="col">Edit</th>
			<th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list">
      <th scope="row">{{item.id}}</th>
      <td>{{item.fullName}}</td>
      <td>{{item.yearOfBirth}}</td>
      <td><button type="button" 
        class="btn btn-primary btn-sm" 
        ui-sref="contactDetail({contactId: {{item.id}}})">
        <i class="glyphicon glyphicon-glyphicon-edit" data-unicode="e065"></i></button></td>
      <td><button type="button" 
        class="btn btn-warning btn-sm" 
        ng-click="delete({element: item.id})">
        <i class="glyphicon glyphicon-glyphicon-trash" data-unicode="e020"></i></button></td>
    </tr>
  </tbody>
  
</table>